# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\LabMain1\Sem 4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
